<body>
  <img src= "https://www.richardpennington.com/wp-content/uploads/2018/03/fortune_teller_5_by_obliviate_stock-d4zkgb1.jpg">
   
   <center> <h1> FORTUNATE FOOLS </h1>
   <center> <h2> Destiny The Fortune Teller</h2>
   
  <form method = "POST" action = "/results">
   
   <center> <p> What is your name old soul? <input type= "text" name= "name"> </p>
    
    <center> <p> What is your zodiac sign? <input type= "text" name= "sign"> </p>
    
   <center> <p> Have you been to a fortune teller before, Yes or No? <input type= "text" name= "yesorno"> </p>
    
    <center> <p> How old are you? <output type= "text" name= "age"> </p> 
   
    <center> <input type= "submit">
  
  </form>
    
</body>
    