<body>
<h1>
  
<%= "Hello #{@name}! It is a good day to be a #{@sign}, for other requests or private tarot readings please contact me at destinyfortuneteller@gmail.com!" %> 
 
 
  </h1>
 
 
 
</body>
 
