<body>
<h1>
  <%= "Hello #{@name}! It is a good day to be a #{@sign}, for other requests or private tarot readings please contact me at destinyfortuneteller@gmail.com!" %> 
 </h1>
 <% fortunes= ["YOUR FORTUNE IS BRIGHT" <img src= "https://www.fairtradewinds.net/wp-content/uploads/2016/01/Your-Future-is-Bright.jpg">   , "NOT SO GOOD, beware gossips!" <img src= "http://infinitycoaching.net/wp-content/uploads/2017/05/Co-Worker-Who-Gossips-Carolyn-R-Owens-300x200.jpg">, "Money is on the horizon!" <img src="https://c1.staticflickr.com/8/7053/6869768383_84f708306e_b.jpg"> ] %> 



 
 
 
 </body>
 
